@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply px-3  w-full sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1170px] ml-auto mr-auto;
  }

  .track {
    @apply border-red-500 border-2;
  }

  .form-label {
    @apply block mb-2 text-sm font-medium text-black;
  }
  .form-control {
    @apply bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-[#f4f5f6];
  }

  .required-field {
    @apply after:content-['_*'] after:text-red-500;
  }
  .btn {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none;
  }
}

.product:hover {
  background-color: orange;
}

html {
  scroll-behavior: smooth;
}

.rc-pagination {
  display: flex;
}

.rc-pagination li {
  border: 1px solid black;
  padding: 1rem;
  cursor: pointer;
}
.rc-pagination-options {
  display: none;
}
.rc-pagination-item-active {
  background-color: grey;
  color: white;
}
.rc-pagination-disabled {
  opacity: 0.5;
  cursor: no-drop !important;
}
